header{
    background-color: rgba(173, 216, 230, 0.637);
    margin-bottom: 50px;
}
.header_div{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 3px 20px;
    
}
.p{
    font-family: 'Inter', sans-serif;
    
    font-weight: 500;
    font-size:25px;
   

    color: rgba(17, 17, 17, 0.8);
    margin-bottom: 0px;
}
.k{
    margin-top: 0;
}

.btn{
    padding: 10px 20px;
    border: none;
    background-color: #4267B2;
    font-size: 15px;
    color: white;
    line-height: 21px;
    letter-spacing: 1.5px;
    border-radius: 9px;
}

/* header working is finished */

/* input fleild */
.input{
    width: 25%;
    margin:10px 10px;
    text-align: center;
}
/* input fleild */

.btn{
    width: 100%;
}

.div_input{
    text-align: center;
}

.text{
    text-align: center;
}

.img{

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.main_div{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin: 10px 100px;
}
.main_div_div1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 10px;
    background-color:#FBBCED;
}
.main_div_div2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 10px;
    
}
.main_div_div3{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #69C7F0;
    
}

/* Area Calculation */

.Area_Calculation_P{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    
    text-decoration-line: underline;
    
    color: rgba(17, 17, 17, 0.8);
    text-align: center;
    
}

/* description */

.Qesp{
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    margin: 0px 50px;
    color: rgb(56, 0, 209);
}
.Qesp:hover{
    color: tomato;
}

.de1{
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: black;
}

    .de1:hover{
        color: rgb(56, 0, 209);
    }

/*  */

/* responsive  */

