@media only screen and (max-width: 576px) {
    .header_div{
    
        display: flex;
        justify-content:space-between;
        align-items: center;
        
        
    }
    .main_div{
                  display: grid;
                  grid-template-columns: repeat(1,1fr);
                  margin-left: -1px;
                  margin-right: 2px;
       
       
    }
  }
@media only screen and (min-width: 768px ) {
    .header_div{
    
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 3px 20px;
        
    }
    .main_div{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap:10px;
        margin: 10px 100px;
    }
  }
@media only screen and (min-width: 992px ) {
    .header_div{
    
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 3px 20px;
        
    }
    .main_div{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        gap:10px;
        margin: 10px 100px;
    }
  }

